* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    /* border: 1px solid red; */
    margin: 2px;
}

.portfolio {
    font-size: 0.65rem;
    margin-bottom: 1.5rem;
    letter-spacing: 0.075rem;
    text-transform: lowercase;
    color: black;
}

.profileImage {
    border-radius: 50%;
    margin-bottom: 2rem;
}

aside, header, main, .col1, .col2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin: 20px 10px;
}

h1 {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.3rem;
}

span.name {
    color: #ff9800;
}

.jobTitle, h4 {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.15rem;
    font-size: 0.65rem;
    border-bottom: 1px solid orange;
    padding-bottom: 3px;
    margin-bottom: 0.5rem;
}

h3 {
    background-color: black;
    display: block;
    width: 100%;
    color: #ff9800;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    font-weight: 500;
    margin-bottom: 2rem;;
}

aside p {
    font-size: 0.75rem;
    margin-bottom: 1.5rem;
    letter-spacing: 0.075rem;
    line-height: 1.4;
}

.about {
    width: 90%;
}

.col1 {
    margin-top: 0;
    font-style: italic;
    letter-spacing: 0.075rem;
}

main p {
    font-size: 0.75rem;
    line-height: 1.5;
}

h6 {
    text-transform: uppercase;
    letter-spacing: 0.075rem;
    margin-bottom: 1rem;
}

.hobbies {
    display: flex;
    justify-content: space-evenly;
}

.hobbies i {
    font-size: 3rem;
    margin-right: 2rem;
}

.hobbies i:last-child {
    margin-right: 0;
}

/* .hobbies img {
    margin-right: 20px;
}

.hobbies img:last-child {
    margin-right: 0;;
} */

.col1Ref, .col2Ref {
    text-align: center;
    margin-bottom: 1.5rem;
}

a {
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    margin-top: 5rem;
    text-decoration: none;
    text-align: center;
}

header.tablet {
    display: none;
}



@media (min-width: 768px) {

    .profileImage {
        margin-top: 2rem;
    }
    header.mobile {
        display: none;
    }

    header.tablet {
        display: flex;
        margin-top: 0;
    }

    body {
        max-width: 960px;
        display: flex;
        margin: auto;
    }

    .hobbies {
        flex-direction: column;
        align-items: center;
    }

   

    header, main, .col1, .col2 {
        align-items: flex-start;
    }

    aside {
        flex-basis: 30%;
        margin-right: 2rem;
        background-color: #ff9800;
    }

    aside h3 {
        margin-left: 0;
        width: 100%;
    }

    aside h4 {
        color: white;
        margin-bottom: 0;
    }

    .row {
        display: flex;
    }
    
    .col1 {
        flex: 1;
    }
    
    .col2 {
        flex: 2;
    }

    .row:last-of-type {
        display: flex;
        
    }

    .col1Ref, .col2Ref {
        text-align: left;
        margin-right: 3rem;
    }

    .col2 {
        margin-top: 0.25rem;
    }

    main {
        margin-top: 4.75rem;
    }

    main h3 {
        text-align: left;
        padding-left: 0.6rem;
        background-color: white;
        color: black;
        border-bottom: 1px solid #ff9800;
    }

    main a {
        width: 100%;
        display: inline-block;
        text-align: right;
        color: black;
    }

    main a:hover {
        opacity: 0.5;
    }

    main a:visited {
        color: black;
    }

    aside p {
        letter-spacing: 0.05rem;
    }

    .hobbies i {
        margin-right: 0;
        margin-bottom: 1.5rem;
    }

}